@model RealEstateWebApp.Models.Profile

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Profile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProfileId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<div>
    <h4>Created Listings</h4>
    <hr />
    @foreach (var listing in Model.Listings)
    {
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => listing.ListingType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => listing.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => listing.ListDate)
            </dt>
        </dl>
    }
</div>