@model RealEstateWebApp.Models.Property

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Property</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumBeds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumBeds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumBaths)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumBaths)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsStudio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsStudio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sqft)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sqft)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumParkingSpots)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumParkingSpots)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumGarageSpots)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumGarageSpots)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttachedGarage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttachedGarage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LotSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LotSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearBuilt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearBuilt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LatestRenovationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LatestRenovationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LatestRenovationDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LatestRenovationDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Heating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Heating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cooling)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cooling)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flooring)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flooring)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumStories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumStories)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasBasement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasBasement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Electric)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Electric)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sewer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sewer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Internet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Internet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherDetails)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
