@model IEnumerable<RealEstateWebApp.Models.Property>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumBeds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumBaths)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsStudio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sqft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumParkingSpots)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumGarageSpots)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttachedGarage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LotSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearBuilt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LatestRenovationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LatestRenovationDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Heating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cooling)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flooring)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumStories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasBasement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Electric)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sewer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Internet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherDetails)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumBeds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumBaths)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsStudio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sqft)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumParkingSpots)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumGarageSpots)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttachedGarage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LotSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearBuilt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LatestRenovationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LatestRenovationDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Heating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cooling)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flooring)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumStories)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasBasement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Electric)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sewer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Internet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherDetails)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
